body {
  background-color: #f0f0f0;
}

label,
input,
textarea {
  display: block;
  width: 100%;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
}

textarea {
  margin-bottom: 1rem;
  border: 1.3px gray solid;
  border-radius: 3px;
  padding: 8px;
}

input,
textarea:focus {
  outline-color: #562b81;
}

img {
  width: 100%;
  border-radius: 7px;
  margin-bottom: 10px;
}

/* Header */

.header-nav {
  background-color: #562b81;
  text-align: left;
}

.header-text {
  margin: 0;
  font-family: 'Proza Libre', sans-serif;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem 0;
}

h2 {
  margin: 15px 0;
}

label {
  margin-bottom: 0.4rem;
}

.submit-button {
  background-color: #562b81;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  border-style: none;
  border-radius: 5px;
  padding: 7px 12px;
  cursor: pointer;
  margin-bottom: 10px;
}

input {
  margin-bottom: 1.3rem;
  border: 1.3px gray solid;
  border-radius: 3px;
  padding: 8px;
}

.font-proza {
  font-family: 'Proza Libre', sans-serif;
  font-weight: bolder;
}

.text-right {
  text-align: right;
}

.row-entries-header {
  display: flex;
}

.new-anchor {
  margin-top: 15px;
  background-color: #562b81;
  color: white;
  font-family: 'Open Sans', sans-serif;
  border-style: none;
  border-radius: 5px;
  padding: 5px 12px;
  cursor: pointer;
  position: relative;
  top: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

.entries-anchor {
  margin: 0 25px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1rem;
  padding-top: 0.9rem;
  padding-bottom: 0.8rem;
  cursor: pointer;
}

.title-styling {
  margin: 0 0;
}

.column-entry {
  margin-bottom: 10px;
}

.display-flex {
  display: flex;
}

.column-new-button {
  position: relative;
}

.text-center {
  text-align: center;
}

.column-entries {
  width: 50%;
}
